html, body{
    width: 1280px; 
    height: 800px;
    margin: 0;
    overflow: hidden;
    background-image: url(../images/uts-pride-events-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.button_class{
    text-align: center;
}